{% extends 'base.html' %}

{% load humanize %}

{% block breadcrumb %}
  <li class="active"><span>公告信息展示</span></li>

{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>

        <th>公告标题</th>
        <th>内容描述</th>
        <th>公告文件</th>
        <th>上传单位</th>
        <th>作者</th>
        <th>日期</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
        <tr>
          <td class="align-middle ">
            {{ board.notice_title }}
          </td>
          <td class="align-middle ">
            {{ board.notice_content }}
          </td>
          <td class="align-middle ">
              <a href="{{ board.notice_video_content }}">{{ board.notice_video_content }}</a>
          </td>
          <td class="align-middle ">
              {{board.update_group}}
          </td>
          <td class="align-middle ">
              {{board.update_user}}
          </td>
          <td class="align-middle ">
              {{board.update_date}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
